	<div class="navbar navbar-inverse navbar-fixed-top">
	  <div class="navbar-inner">
		  <div class="container">
			  <div class="dropdown">
				  <a class="brand dropdown-toggle" href="#">{{ getPracticeName(filterCriteria.pid) }} <span class="entypo">&#59232;</span></a>
				  <ul class="dropdown-menu">
					  <li ng-class="{active: filterCriteria.pid == ''}"><a ng-click="filterCriteria.pid=''">{{ getPracticeName() }}</a></li>
					  <li class="divider"></li>
					  <li ng-class="{active: filterCriteria.pid == practice.id}" ng-repeat="practice in practices"><a ng-click="filterCriteria.pid=practice.id">{{ practice.name }}</a></li>
				  </ul>
			  </div>
			  <ul class="nav">
			      <li ng-class="active_dashboard"><a href="#">Dashboard</a></li>
			      <li ng-class="active_patients"><a href="#">Patients</a></li>
			      <li ng-class="active_encounters"><a href="rcm_encounters.php">Encounters</a></li>
			      <li ng-class="active_tasks"><a href="rcm_tasks.php">Tasks</a></li>
			      <li ng-class="active_documents"><a href="#">Documents</a></li>
			  </ul>
			  <ul class="nav pull-right">
				  <li><a href="#">{{ current_biller.first }} {{ current_biller.last }} <span class="entypo">&#59232;</span></a></li>
			  </ul>		  	
		  </div>
	  </div>
	</div> <!-- /.navbar -->
