	<header class="row">
		<h2 class="span6"><a class="dropdown-toggle">All practices</a> <span class="entypo">&#59232;</span></h2>
		<div class="span6"><div class="current_biller">{{ current_biller.first }} {{ current_biller.last }} <span class="entypo">&#59232;</span></div></div>
	</header>
	
	<div class="navbar">
	  <div class="navbar-inner">
	    <ul class="nav">
	      <li ng-class="active_dashboard"><a href="#">Dashboard</a></li>
	      <li ng-class="active_patients"><a href="#">Patients</a></li>
	      <li ng-class="active_encounters"><a href="rcm_encounters.php">Encounters</a></li>
	      <li ng-class="active_tasks"><a href="rcm_tasks.php">Tasks</a></li>
	      <li ng-class="active_documents"><a href="#">Documents</a></li>
	    </ul>
	  </div>
	</div> <!-- /.navbar -->
