<ng-include src="'partials/rcm_header.html'"></ng-include>
	
<div class="row">	
	<div class="span9">
		<div class="task_outer" ng-class="{checked: task.checked == 1}">
			<div class="task">
				<input type="checkbox" ng-checked="task.checked" ng-model="task.checked" />
				<span class="lead">{{ task.title }}</span>				
			</div>
		</div>
		
		<h3>Discussion</h3>
		<div class="row comment" ng-repeat="comment in comments">
			<div class="span1">
				<span class="avatar" ng-bind-html-unsafe="getAvatar(comment.bid)"></span>
			</div>
			<div class="span8">
				<span class="subtext">{{ getBillerName(comment.bid)}} on {{comment.date | date:shortDate}}</span>
				<p>{{ comment.comment }}</p>
			</div>
		</div>

		<div class="row comment">
			<div class="span1">
				<span class="avatar" ng-bind-html-unsafe="getAvatar(current_biller.id)"></span>
			</div>
			<div class="span8">
				<textarea rows="4" class="input-block-level" placeholder="Add a comment..."></textarea>
				<button class="btn btn-primary pull-right">Comment</button>
			</div>
		</div>
	</div>
	
	<div class="span3 infobar">
		<button class="btn"><span class="entypo">&#9998;</span> Edit</button>
		<button class="btn"><span class="entypo">&#59177;</span> Delete</button>
		<div class="info">
			<p ng-bind-html-unsafe="getTypeAndId(task)">
			</p>
			<p>
				<span class="entypo">&#128100;</span> Created by {{ getBillerName(task.author_id) }} on {{ task.date_created | date: shortDate }}
				<br />Assigned to {{ getBillerName(task.bid) }}
			</p>
			<p>
				<span class="entypo">&#128197;</span> Due in {{ task.days_due }} days
			</p>
		</div>
	</div>
</div> <!-- /.row -->