<ng-include src="'partials/rcm_header.html'"></ng-include>
	
<div class="task" ng-class="{checked: task.checked == 1}">
	<input type="checkbox" ng-checked="task.checked" ng-model="task.checked" />
	<span class="lead">{{ task.title }}</span>
</div>

<div class="row">	
	<div class="span9">
		<h3>Discussion</h3>
		<div class="row comment" ng-repeat="comment in comments">
			<div class="span1">
				<span class="avatar" ng-bind-html-unsafe="getAvatar(comment.bid)"></span>
			</div>
			<div class="span8">
				<span class="subtext">{{ getBillerName(comment.bid)}} on {{comment.date | date:shortDate}}</span>
				<p>{{ comment.comment }}</p>
			</div>
		</div>
		<div class="row comment">
			<div class="span1">
				<span class="avatar" ng-bind-html-unsafe="getAvatar(current_biller.id)"></span>
			</div>
			<div class="span8">
				<textarea rows="4" class="input-block-level" placeholder="Add a comment..."></textarea>
				<button class="btn btn-primary pull-right">Comment</button>
			</div>
		</div>
	</div>
	
	<div class="span3">
		<h3>Details</h3>
	</div>
</div> <!-- /.row -->