/* line 19, scss/styles.scss */
body {
  margin-bottom: 40px;
}

/* line 20, scss/styles.scss */
body, div, p, input, label {
  font-size: 16px;
  font-color: #222222;
  line-height: 1.3;
  font-family: "proxima-nova", sans-serif;
}

/* line 27, scss/styles.scss */
h1, h2, h3, h4, h5, h6, button {
  font-family: "proxima-nova", sans-serif;
}

/* line 31, scss/styles.scss */
h1 {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 15px;
}

/* line 37, scss/styles.scss */
h2 {
  font-size: 24px;
  font-weight: 700;
}

/* line 42, scss/styles.scss */
h3 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}

/* line 48, scss/styles.scss */
header {
  height: 100px;
  background: white url(../../Labs/img/kareolabs-logo.jpg) 30px 15px no-repeat;
}

/* line 53, scss/styles.scss */
.subhead {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: #FAF8F6;
  margin-bottom: 20px;
}

/* line 60, scss/styles.scss */
.container {
  margin: 0 30px;
}

/* line 64, scss/styles.scss */
.video {
  float: right;
  margin: 20px 10px;
}

/* line 70, scss/styles.scss */
a {
  text-decoration: none;
  color: #00b0da;
}
/* line 74, scss/styles.scss */
a:hover {
  color: #0ed1ff;
}

/* line 79, scss/styles.scss */
a.button {
  -webkit-border-radius: 20px;
  /* Safari 3-4, iOS 1-3.2, Android ≤1.6 */
  border-radius: 20px;
  /* Opera 10.5, IE9+, Safari 5, Chrome, Firefox 4+, iOS 4, Android 2.1+ */
  border: 1px solid #dddddd;
  color: #00b0da;
  height: 30px;
  padding: 7px 20px;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
}
/* line 89, scss/styles.scss */
a.button:hover {
  color: #0ed1ff;
}
/* line 93, scss/styles.scss */
a.button.primary {
  border: 0;
  background-color: #2e8bff;
  color: white;
}
/* line 98, scss/styles.scss */
a.button.primary:hover {
  background-color: #61a7ff;
}

/* line 104, scss/styles.scss */
.buttonrow {
  margin-top: 30px;
}

/* line 106, scss/styles.scss */
input {
  -webkit-border-radius: 3px;
  /* Safari 3-4, iOS 1-3.2, Android ≤1.6 */
  border-radius: 3px;
  /* Opera 10.5, IE9+, Safari 5, Chrome, Firefox 4+, iOS 4, Android 2.1+ */
  border: 1px solid #dddddd;
  color: #999999;
  padding: 5px 10px;
}
/* line 112, scss/styles.scss */
input[type='radio'] {
  border: 2px solid #ddd;
  margin-right: 10px;
}

/* line 118, scss/styles.scss */
label {
  line-height: 2.5;
}
/* line 121, scss/styles.scss */
label input[type='text'] {
  margin-left: 10px;
}

/* line 129, scss/styles.scss */
.container#login {
  width: 360px;
  margin: 150px auto;
  text-align: center;
}
/* line 134, scss/styles.scss */
.container#login form {
  margin: 30px auto;
}
/* line 137, scss/styles.scss */
.container#login form input {
  margin-bottom: 10px;
  width: 100%;
}
/* line 140, scss/styles.scss */
.container#login p {
  text-align: left;
}

/* line 145, scss/styles.scss */
.accountpractice-wrapper {
  /* 	text-align: right; */
  float: right;
  margin-right: 30px;
  margin-top: 40px;
}
/* line 151, scss/styles.scss */
.accountpractice-wrapper .accountpractice {
  float: left;
  margin-left: 40px;
}
/* line 155, scss/styles.scss */
.accountpractice-wrapper .accountpractice .heading {
  color: #aaa;
  text-transform: uppercase;
  font-size: 12px;
}
/* line 161, scss/styles.scss */
.accountpractice-wrapper .accountpractice .name {
  font-weight: 600;
}

/* line 165, scss/styles.scss */
#experiment {
  height: 100%;
  overflow-y: hidden;
}
/* line 169, scss/styles.scss */
#experiment .subhead {
  padding: 10px 0;
}
/* line 173, scss/styles.scss */
#experiment h1 {
  display: inline;
}
/* line 177, scss/styles.scss */
#experiment .ratings {
  float: right;
  /* 		margin-top: 10px; */
  color: #999;
}
/* line 183, scss/styles.scss */
#experiment .ratings strong {
  color: #222222;
}
/* line 186, scss/styles.scss */
#experiment iframe {
  margin: 0;
  width: 100%;
  height: 100%;
}
